.k-appbar.top-nav-bar{
    position: relative;
    // z-index: 20000;
    height: 50px;
    padding-block: 0%;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 10px -8px grey;
    .k-appbar-section.nav-bar {
        position: relative;
        float: left;
        margin-top: 5px;
        height: 50px;
        flex-grow: 2;
        .contents {
            .content {
                height: 30px;
                float: left;
                a {
                    padding: 0px 15px 0px 15px;
                    text-decoration: none;
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 16px;
                    color: #BBBBBB;
                }
                a:hover {
                    color: #008000;
                }
                .hor-line {
                    display: none;
                    margin: 12px 5px 0px 5px;
                    border-top: 1px solid #008000;
                    border-bottom: 1px solid #008000;
                    background-color: #008000;
                    border-radius: 3px;
                    height: 3px;
                }

                a:hover + .hor-line {
                    display: block;
                }
            }
            .k-appbar-separator{
                min-height: 1.5em;
                float: right;
                border-width: 0px 0px 0px 2px;
                border-radius: 3px;
                color: #C4C4C4;
            }
        }
        
    }
    .k-appbar-section.profile {
        position: relative;
        float: right;
        // border: 1px solid black;
        div {
            padding: 0px 15px 0px 15px;
        }
        .noti-btn, .search-btn, .avatar-btn {
            position: relative;
            border: none;
            background-color: #FFFFFF;
        }
        .noti-btn:focus, .search-btn:focus, .avatar-btn:focus{
            box-shadow: none;
        }
        .k-button.search-btn, .k-button.noti-btn, .k-button.avatar-btn{
            padding: 0px;
        }
        .noti-no {
            position: absolute;
            top: -15px;
            right: -3px;
            height: 15px;
            width: 15px;
            background-color: #F1802E;
            border-radius: 50%;
            font-family: 'Mulish';
            font-style: normal;
            font-weight: 400;
            font-size: 9px;
            line-height: 15px;
            color: #FFFFFF;
            text-align: center;
        }
        .activity {
            position: absolute;
            top: 15px;
            right: -8px;
            height: 15px;
            width: 15px;  
            background-color: #05D103;
            border-radius: 50%;
        }
    }
}

