<kendo-appbar class="top-nav-bar">
    <kendo-appbar-section class="nav-bar">
        <div class="contents" *ngFor="let content of menuContent">
            <div class="content">
                <a href="#">{{content}}</a>
                <span class="hor-line"></span>
            </div>
            <span class="k-appbar-separator"></span>
        </div>
    </kendo-appbar-section>
    <kendo-appbar-section class="profile">
        <div>
            <kendo-button class="search-btn" iconClass="fa-solid fa-magnifying-glass fa-lg"></kendo-button>
        </div>
        <div>
            <kendo-button class="noti-btn" iconClass="fa-regular fa-bell fa-lg">
                <span class="noti-no">15</span>
            </kendo-button>

        </div>
        <div>
            <kendo-button class="avatar-btn" imageUrl="assets/header-assets/avatar.png">
                <span class="activity"></span>
            </kendo-button>
        </div>
    </kendo-appbar-section>
</kendo-appbar>
<div class="breadcrumb-buttons">
    <kendo-breadcrumb class="breadcrumb" [items]="crumbContent">
        <ng-template kendoBreadCrumbItemTemplate let-item let-index="index">
            <div class="item" role="button">
                <span>{{item.text}}</span>
            </div>
        </ng-template>
    </kendo-breadcrumb>
    <div class="buttons">
        <kendo-button class="coupon-list-btn" imageUrl="assets/header-assets/Chart-12.png">DANH SÁCH
            COUPON</kendo-button>
        <kendo-button class="print-btn" iconClass="fa-solid fa-print"></kendo-button>
        <kendo-button class="apply-btn" imageUrl="assets/header-assets/n-check.png">ÁP DỤNG</kendo-button>
        <kendo-button class="unrelease-btn">XÓA ĐỢT PHÁT HÀNH</kendo-button>
        <div class="add-btn-container">
            <kendo-button class="add-btn-1" iconClass="fa-regular fa-plus">
                TẠO MỚI
                <kendo-button class="add-btn-2" iconClass="fa-solid fa-chevron-down"></kendo-button>
            </kendo-button>
        </div>
        <div class="export-btn-container">
            <kendo-button class="export-btn-1" iconClass="fa-solid fa-download"></kendo-button>
            <kendo-button class="export-btn-2" imageUrl="assets/header-assets/xlsx.png"></kendo-button>
            <span class="line"></span>
            <kendo-button class="export-btn-3" iconClass="fa-solid fa-chevron-down"></kendo-button>
        </div>
    </div>
</div>