.add-new-container {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    float: right;    
    background-color: #FFFFFF;
    height: 100%;
    .add-new-form {
        margin: 0px 10px;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        overflow-x: hidden;
        overflow-y: scroll;
        .kendo-label{
            font-weight: 700;
            font-size: 13px;
            line-height: 16px;
            color: #343A40;
        }
        .kendo-textbox {
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            color: #26282E;
        }
        .k-checkbox {
            border: 1px solid #999999;
        }
        .k-checkbox:checked{
            background-color: #008000;
            box-shadow: none;
        }
        
        .input-barcode, 
        .input-name, 
        .alias-container,
        .status-id-container, 
        .price-container, 
        .price-base-container, 
        .price-vip-container{
            display: flex;
            flex-direction: column;
            row-gap: 10px;
        }

        .alias-container{
            a:any-link{
                color: #31ADFF;
                text-decoration-color: #31ADFF;
            } 
        }

        .freeship-container{
            .k-checkbox{
                float: right;
            }
        }
        .container-1, .container-2, .container-3, .container-4 {
            display: flex;
            justify-content: space-between;
            span {
                flex-basis: 40%;
                display: flex;
                justify-content: space-between;
            }
        }
    }
    .add-new-form::-webkit-scrollbar{
        display: none;
    }
}