<div class="add-new-container">
    <!--ADD NEW PRODUCT FORM-->
    <form class="add-new-form">
        <!--INPUT PRODUCT BARCODE-->
        <span class="input-barcode">
            <kendo-label class="kendo-label"
                         for="productBarcode"
                         text="Nhập mã sản phẩm"></kendo-label>
            <kendo-textbox class="kendo-textbox"
                           id="productBarcode"
                           value="{{Barcode}}"
                           (valueChange)="onChangeBarcode($event)"
                           (blur)="onBlurBarcode($event)"
                           [disabled]="isBarcode"></kendo-textbox>
        </span>
        <!--INPUT PRODUCT BARCODE-->

        <!--INPUT PRODUCT NAME-->
        <span class="input-name">
            <kendo-label class="kendo-label"
                         for="productName"
                         text="Tên sản phẩm"></kendo-label>
            <kendo-textbox class="kendo-textbox"
                           id="productName"
                           value="{{productName}}"
                           disabled="true"></kendo-textbox>
        </span>
        <!--INPUT PRODUCT NAME-->

        <!--PRODUCT ALIAS LINK-->
        <span class="alias-container">
            <kendo-label class="kendo-label"
                         for="productAlias"
                         text="Alias"></kendo-label>
            <kendo-textbox class="kendo-textbox"
                           id="productAlias"
                           value="{{Alias}}"
                           disabled="true"></kendo-textbox>
        </span>
        <!--PRODUCT ALIAS LINK-->

        <!--FREESHIP-->
        <span class="freeship-container">
            <kendo-label class="kendo-label"
                         for="FreeShip"
                         text="Free Shipping Image"></kendo-label>
            <kendo-textbox class="kendo-textbox"
                           value="{{FreeShippingImage}}"
                           disabled="true"></kendo-textbox>
        </span>
        <!--FREESHIP-->

        <!--PRODUCT STATUS ID-->
        <span class="status-id-container">
            <kendo-label class="kendo-label"
                         text="Trạng thái"></kendo-label>
            <kendo-dropdownlist [data]="statusID"
                                valueField="value"
                                textField="text"
                                [valuePrimitive]="true"
                                [(value)]="defaultStatus"
                                disabled="true"></kendo-dropdownlist>
        </span>
        <!--PRODUCT STATUS ID-->

        <!--PRICE BASE-->
        <span class="price-base-container">
            <kendo-label class="kendo-label"
                         for="PriceBase"
                         text="Giá gốc"></kendo-label>
            <kendo-numerictextbox class="kendo-textbox"
                                  id="PriceBase"
                                  [value]="PriceBase"
                                  [format]="format"
                                  [spinners]="false"
                                  (valueChange)="onChangePriceBase($event)"></kendo-numerictextbox>
        </span>
        <!--PRICE BASE-->

        <!--PRICE-->
        <span class="price-container">
            <kendo-label class="kendo-label"
                         for="Price"
                         text="Giá khuyến mãi">
            </kendo-label>
            <kendo-numerictextbox class="kendo-textbox"
                                  id="Price"
                                  [value]="Price"
                                  [format]="format"
                                  [spinners]="false"
                                  (valueChange)="onChangePrice($event)"></kendo-numerictextbox>
        </span>
        <!--PRICE-->

        <!--PRICE VIP-->
        <span class="price-vip-container">
            <kendo-label class="kendo-label"
                         for="PriceVIP"
                         text="Giá VIP"></kendo-label>
            <kendo-numerictextbox class="kendo-textbox"
                                  id="PriceVIP"
                                  [format]="format"
                                  [spinners]="false"
                                  disabled="true"
                                  [value]="PriceVIP"></kendo-numerictextbox>
        </span>
        <!--PRICE VIP-->

        <!----------------------------------CHECKBOXES--------------------------------->

        <!---------NEW & HACHI 24H---------->
        <div class="container-1">
            <!--IS NEW-->
            <span class="is-new-container">
                <kendo-label class="kendo-label"
                             for="isNew"
                             text="Sản phẩm mới"></kendo-label>
                <input type="checkbox"
                       id="isNew"
                       disabled="true"
                       kendoCheckBox>
            </span>
            <!--IS NEW-->
            <!--IS HACHI 24H-->
            <span class="is-hachi-24h-container">
                <kendo-label class="kendo-label"
                             for="isHachi24h"
                             text="Hachi 24h"></kendo-label>
                <input type="checkbox"
                       id="isHachi24h"
                       disabled="true"
                       kendoCheckBox>
            </span>
            <!--IS HACHI 24H-->
        </div>
        <!---------NEW & HACHI 24H---------->

        <!---------BEST PRICE & SPECIAL---------->
        <!-- <div class="container-2"> -->
        <!--IS BEST PRICE-->
        <div class="container-2">
            <span class="is-best-price-container">
                <kendo-label class="kendo-label"
                             for="isBestPrice"
                             text="Là BestPrice"></kendo-label>
                <input type="checkbox"
                       id="isBestPrice"
                       [checked]="isBestPrice"
                       disabled="true"
                       kendoCheckBox>
            </span>
            <!--IS BEST PRICE-->
            <!--IS SPECIAL-->
            <span class="is-special-container">
                <kendo-label class="kendo-label"
                             for="isSpecial"
                             text="Đặc biệt"></kendo-label>
                <input type="checkbox"
                       id="isSpecial"
                       disabled="true"
                       kendoCheckBox>
            </span>
            <!--IS SPECIAL-->
        </div>
        <!---------BEST PRICE & SPECIAL---------->

        <!---------GIFT & PROMOTION---------->
        <div class="container-3">
            <!--IS GIFT-->
            <span class="is-gift-container">
                <kendo-label class="kendo-label"
                             for="isGift"
                             text="Quà Tặng"></kendo-label>
                <input type="checkbox"
                       id="isGift"
                       disabled="true"
                       kendoCheckBox>
            </span>
            <!--IS GIFT-->
            <!--IS PROMOTION-->
            <span class="is-promotion-container">
                <kendo-label class="kendo-label"
                             for="isPromotion"
                             text="Có khuyến mãi"></kendo-label>
                <input type="checkbox"
                       id="isPromotion"
                       [checked]="isPromotion"
                       disabled="true"
                       kendoCheckBox>
            </span>
            <!--IS PROMOTION-->
        </div>
        <!---------GIFT & PROMOTION---------->

        <!--IS COMBO-->
        <div class="container-4">
            <span class="is-combo-container">
                <kendo-label class="kendo-label"
                             for="isCombo"
                             text="Combo"></kendo-label>
                <input type="checkbox"
                       id="isCombo"
                       disabled="true"
                       kendoCheckBox>
            </span>
        </div>
        <!--IS COMBO-->
        <!----------------------------------CHECKBOXES--------------------------------->

        <!--PRODUCT IMAGE-->
        <ng-container *ngIf="isImageUrl">
            <span class="image-container">
                <img style="width:300px; height: 300px;"
                     src="http://test.lapson.vn{{ImageUrl}}">
            </span>
        </ng-container>
        <!--PRODUCT IMAGE-->
    </form>
    <!--ADD NEW PRODUCT FORM-->
</div>