.side-bar{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 15%;
    float: left;    
    background-color: #5A6276;
    height: 1010px;
}

.header {
    position: relative;
    width: 85%;
    float: left;
    left: 15.5%;
}

.coupon-policy {
    position: relative;
    width: 85%;
    float: left;
    left: 15.5%;
}




