/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Mulish';
    font-style: normal;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 2010px;
    background-color: #EDEFF3;
}

.k-checkbox:checked:focus{
    border-color:#008000;
    box-shadow: none;
    background-color: #008000;
    border-style: none;
}

.k-i-caret-alt-down.k-icon::before {
    content: "\e015";
}

.k-chip-list{
    height: 100%;
    .k-chip {
        flex-direction: row-reverse;
        border-style: none;
        background-color: #DBDEE7;
        border-radius: 14px;
        background-image: none;
        .k-i-x-circle::before {
            content: '\e11b';
        }
    }
}
.k-chip-list::after {
    content: "\e015";
    cursor: pointer;
}