/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Mulish';
    font-style: normal;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 2010px;
    background-color: #EDEFF3;
}